<form id="{{formId}}" class="jsf-form" data-schema-form>
  <h1 class="jsf-title">{{title}}</h1>
  {{{content}}}
  <div class="jsf-btn-container">
    <button type="submit" class="jsf-submit-btn">
      Submit
    </button>
  </div>
</form> 