<div class="jsf-prop" data-property-name="{{name}}" data-schema-path="{{name}}">
  <label class="jsf-label">
    <span class="jsf-label-text">
      {{title}}
      {{#required}}<span class="jsf-required">*</span>{{/required}}
    </span>
    {{#description}}
    <span class="jsf-desc">{{description}}</span>
    {{/description}}
  </label>
  {{{content}}}
</div> 